<h2>Update a student</h3>
<%= form_with model:@student do |f| %>
<%= f.label:name%>
<%= f.text_field :name, placeholder:"Enter you name" %><br>
<%= f.label:age%>
<%= f.text_field :age , placeholder:"Enter your age" %><br>
<%= f.submit %>
<% end %>
